:root{
    --clr-main:#fff159;
    --clr-blue: #3483fa;
    --clr-gray: #33242400;
    --text-color: #333;
    --text-gray: #666;
           
}


 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Proxima Nova', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

img{
    width: 100%;
    height: 100%;    
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Proxima Nova', --apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    background-color:var(--clr-gray);
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    text-decoration: none;
    color: inherit;
    background-color: var(--clr-main);
    border: none;
}
button:hover{
    color: #333;
    cursor: pointer;
}
ul{
    list-style: none;
}


.principal{
    background-color: var(--clr-main);
    padding-top: 8px;
    padding-bottom: 12px;
}

.container {
    max-width: 95rem;
    margin: 0 auto;
    padding: 0 0;
}

.barra-top{
    display: flex;
    align-items: center;
    gap:25px;
    margin-bottom: 12px;
}

.logo{
    font-size: 24px;
    font-weight: 900;
    color: #2d3277;
    font-style: italic;
    width: 140px;
}

.buscador{
    flex-grow: 1;
    display: flex;
    background: white;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    padding: 2px;
}
.buscador input {
    width: 100%;
    border: none;
    padding: 9px 15px;
    font-size: 16px;
    outline: none;
    color: var(--text-color);
}

.search-form button {
    background: none;
    border: none;
    padding: 0 15px;
    border-left: 1px solid #e6e6e6;
    color: var(--text-gray);
    cursor: pointer;
}

.promo{
    width: 340px;
    font-size: 14px;
    color: #333;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}


.barra-bottom{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.nav-address{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 140px;
   
}

.nav-address i {
    font-size: 20px;
    color: #555;
}
 .addres-text span{
    display: block;
    font-size: 12px;
    color: rgba(51, 51, 51, .6);
    line-height: 1.1;
 }

.address-text strong {
    font-size: 14px;
    color: #333;
}

.links ul{
    display: flex;
    gap:20px;
    font-size: 14px;
    color: rgba(51, 51, 51, .6);
}

.links ul li:hover{
    color: #333;
}

.user-menu ul{
    display: flex;
    gap: 18px;
    font-size: 14px;
    align-items: center;
}

.user-menu i{
    font-size: 18px;
}

.hero{
    width: 100%;
    height: 32rem;
    background: linear-gradient(90deg, #0f1626 0%, #2a3b55 100%);
    position: relative;
    overflow: hidden;
    animation: banner 10s infinite; 
    background-size: 100% 100%; 
    background-position: center;

}

.banner-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 10%;
}

.banner-content h1{
    font-size: 40px;
    text-transform: uppercase;
}

.payment-methods{
    margin-top: 20px;
}

.payment-container{
    background: white;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
}

.method-item{
    display: flex;
    align-items: center;
    gap:10px;
}

.method-info a{ 
    font-size: 13px;
    color: var(--clr-blue);
}

.icon-circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-blue);
    font-size: 20px;
}

.ofertas{
    
    margin-top: 40px;
    padding-bottom: 40px;
}

.section-title{
    font-size: 24px;
    font-weight: 300;
    color:#666;
    margin-bottom:  20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.productos-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}

.producto{
    background: whit;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    transition: box-shadow 0.2s;
    cursor: pointer;
    overflow: hidden;
    border-color: #000000;
}

.producto:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .15);
}

.card-image{
    width:100% ;
    height: 220px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #eee;
    position: relative;
}

.card-image img{
    font-size: 50px;
    color: #ccc;

}

.card-content{
    padding: 20px;
    background-color: white;
    
}

.price-row{
    margin-bottom: 5px;

}

.price{
    font-size: 24px;
    font-weight: 400;
    color: #333;
}

.descuento{
    font-size: 14px;
    color: #00a650;
    margin-left: 8px;
    font-weight: 600;
}

.compra-info{
    font-size: 14px;
    color: #00a650;
    font-weight: 600;
    margin-bottom: 10px;
}

.product-title{
    font-size: 14px;
    color: #666;
    line-height: 1.3;
    display: -webkit-box;
    overflow: hidden;
}

footer{
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    font-size: 24px;
    background-color: rgba(210, 209, 209, 0.541);
}

.popups{
    
    align-items: flex-start;
    gap: 5rem;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    background: white;
    background-color: var(--clr-main);
}

.popups:popover-open{
    display: flex;
    animation: caida 1s ease-out forwards;
}

.popups::backdrop{
    background-color: rgba(0, 0, 0, .6);
    backdrop-filter: blur(2px);
    transition: opacity 0.5 ease;
}


#popup-Ingresar{
 
    align-items: flex-start;
    gap: 5rem;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    background: white;
    background-color: var(--clr-main);
}
#popup-Ingresar:popover-open {
  display: flex;
}
.popup-text{
    width: 100%;
    height: 100%;
  
}

.boton-crearcuenta{
    display: inline-flex;
    justify-content: space-between;
    gap: 400px;
    
}

.boton-crearcuenta button:hover{
    border: 2px solid black; 
    border-radius: 20px;    
    padding:  2px 2px;    
    background-color: var(--clr-main); 
    cursor: pointer;         
    font-weight: bold;
}

.boton-ingresar{
    display: inline-flex;
    justify-content: space-between;
    gap: 100px;
}
.boton-ingresar button:hover{
    border: 2px solid black; 
    border-radius: 20px;     
    padding:  2px 2px;      
    background-color: var(--clr-main);
    cursor: pointer;         
    font-weight: bold;
}

.direccion{
    background-color: #ffffffe0;
    border-radius: none;
    border:  none;
    width: 5rem;
    max-width: 5rem;
    
}


@keyframes caida {
  0% {
    transform: translateY(-100vh); 
    opacity: 0; 
  }
  100% {
    transform: translateY(0); 
    opacity: 1;
  }
}

@keyframes banner{
0%, 20% {
        background-image: url('img/celular.png');
    }
    25%, 45% {
        background-image: url('img/cel2.png');
        background-color: black;
    }
    50%, 70% {
        background-image: url('certificadoprank.png');
    }
    75%, 100% {
        background-image: url('certificadoprank.png');
    }}

@media (max-width: 900px) {

    .container {
        padding: 0 10px; 
    }

  
    .barra-top {
        flex-direction: column; 
        align-items: flex-start; 
        gap: 10px;
    }

    
    .buscador {
        width: 100%;
        order: 3; 
    }

    .logo {
        width: auto;
        margin: 0 auto; 
    }

    .promo {
        display: none; 
    }

   
    .barra-bottom {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .nav-address {
        width: 100%;
        margin-bottom: 10px;
    }

   
    .links ul, .user-menu ul {
        flex-wrap: wrap; 
        gap: 15px;
        justify-content: center;
    }
    
    .links {
        display: none; 
    }

    
    .hero {
        height: 200px;
        background-size: cover; 
    }
    
    .banner-content h1 {
        font-size: 24px; 
    }

    
    .payment-container {
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }
    
    .method-item {
        width: 100%;
    }
}