:root{
    --clr-main:#fff159;
}

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Proxima Nova', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}
.principal{
    background-color: var(--clr-main);
    padding-top: 8px;
    padding-bottom: 12px;
}

.barra  {
    display: grid;
    grid-template-rows: 25% 75%;
    font-size: 2;
    
}