:root{
    --clr-main:#fff159;
    --clr-blue: #3483fa;
    --clr-gray: #ebebeb;
    --text-color: #333;
    --text-gray: #666;
           
}

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Proxima Nova', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Proxima Nova', --apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}


.principal{
    background-color: var(--clr-main);
    padding-top: 8px;
    padding-bottom: 12px;
}

.barra  {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

/* Superior de la barra */
.barra-top{
    display: flex;

    align-items: center;
    gap: 25px;
    margin-bottom: 12px;
}

.logo{
    font-size: 24px;
    font-weight: 900;
    color: #2d3277;
    font-style: italic;
    width: 140px;
}

.buscador{
    flex-grow: 1;
    display: flex;
    background: white;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    padding: 2px;
}
.buscador input {
    width: 100%;
    border: none;
    padding: 9px 15px;
    font-size: 16px;
    outline: none;
    color: var(--text-color);
}

.search-form button {
    background: none;
    border: none;
    padding: 0 15px;
    border-left: 1px solid #e6e6e6;
    color: var(--text-gray);
    cursor: pointer;
}

.promo{
    width: 340px;
    font-size: 14px;
    color: #333;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

/* abajo barra */
.barra-bottom{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.nav-address{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 140px;
    cursor: pointer;
}

.nav-address i {
    font-size: 20px;
    color: #555;
}
